* {
  --arrow-color: rgb(0, 0, 0);
  --background-color: #333;
}

@font-face {
  font-family: 'MyFont';
  src: url('./Inter-Medium.ttf') format('openType');
  font-weight: 600;
  font-style: normal;
}

body {
    background-color: var(--background-color);
    color: #fff;
    font-family: sans-serif;
    display: flex;  
    justify-content: center;
    font-family: MyFont;
  }
  .mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  h1 {
    font-size: 50px;
  }
  .userMessage, .description {
    font-size: 32px;
    max-width: 800px;
  }


  .board {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    height: 800px;
  }
  .square {
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 60px;
    line-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .interface {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  form {
    display: flex;
    flex-direction: column;
  }


  .square.black {
    background-color: #b58863;
  }
  .square.white {
    background-color: #f0d9b5;
  }

  .square.start, .square.target {
    background-color: red;
  }

  .square:hover {
    background-color: red;
  }

  .arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    opacity: 0;
  }

  .upArr {
    border-bottom: 20px solid var(--arrow-color);
  }
  
  .downArr {
    border-top: 20px solid var(--arrow-color);
  }

  .leftArr, .rightArr {
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
  }
  
  .leftArr {
    transform: translate(-100%, -50%);
    border-right: 20px solid var(--arrow-color);
  }
  
  .rightArr {
    transform: translate(0, -50%);
    border-left: 20px solid var(--arrow-color);
  }
  
  .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: transparent;
    color:  var(--arrow-color);
    font-size: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
  }
  
  
  .circle span {
    position: relative;
    top: -2px;
  }

  .activeSquare {
    opacity: 1;
  }

  /* Buttons */

button  {
    appearance: none;
    background-color: white;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: 2em;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    outline: none;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
    border: 2px solid;
    color: var(--background-color);
    width: 200px;
    height: 50px;
}


button:hover{
    color: white;
    background-color: var(--background-color);
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

@media (max-width: 600px) {
  .description, .userMessage {
    width: 320px;
    font-size: 16px;
    display: flex;
    justify-content: center;
  }
  .board {
    width: 320px;
    height: 320px;
  }
  .square {
    width: 40px;
    height: 40px;
    font-size: 30px;
    line-height: 40px;
  }

  .arrow {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
  }

  .upArr {
    border-bottom: 10px solid var(--arrow-color);
  }
  
  .downArr {
    border-top: 10px solid var(--arrow-color);
  }

  .leftArr, .rightArr {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }
  
  .leftArr {
    border-right: 10px solid var(--arrow-color);
  }
  
  .rightArr {
    border-left: 10px solid var(--arrow-color);
  }
  
  .circle {

    height: 15px;
    width: 15px;
    font-size: 30px;
}
}