* {
  --arrow-color: rgb(0, 0, 0);
}

body {
    background-color: #333;
    color: #fff;
    font-family: sans-serif;
    display: flex;  
    flex-direction: column;
  }
  .board {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
  }
  .square {
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 30px;
    line-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }


  .square.black {
    background-color: #b58863;
  }
  .square.white {
    background-color: #f0d9b5;
  }

  .square.start, .square.target {
    background-color: red;
  }

  .square:hover {
    background-color: red;
  }

  .arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
  }

  .upArr {
    border-bottom: 10px solid var(--arrow-color);
    opacity: 0;
  }
  
  .downArr {
    border-top: 10px solid var(--arrow-color);
    opacity: 0;
  }
  
  .leftArr {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-100%, -50%);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid var(--arrow-color);
    opacity: 0;
  }
  
  .rightArr {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0, -50%);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid var(--arrow-color);
    opacity: 0;
  }
  
  .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: transparent;
    color:  var(--arrow-color);
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
  }
  
  
  .circle span {
    position: relative;
    top: -2px;
  }

  .activeSquare {
    opacity: 1;
  }